@model AdminGold.Models.web_vangia_project

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>web_vangia_project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vangia_img1_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vangia_img1_project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vangia_img2_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vangia_img2_project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vangia_img3_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vangia_img3_project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vangia_img_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vangia_img_project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vangia_content_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vangia_content_project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vangia_name_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vangia_name_project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vangia_time_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vangia_time_project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vangia_status_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vangia_status_project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vangia_order_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vangia_order_project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vangia_language_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vangia_language_project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vangia_tomtat_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vangia_tomtat_project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vangia_typeid_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vangia_typeid_project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vangia_img4_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vangia_img4_project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vangia_img5_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vangia_img5_project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vangia_img6_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vangia_img6_project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vangia_img7_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vangia_img7_project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vangia_img8_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vangia_img8_project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vangia_img9_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vangia_img9_project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vangia_vanban_project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vangia_vanban_project)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.vangia_id_project }) |
    @Html.ActionLink("Back to List", "Index")
</p>
