@model AdminGold.Models.web_vangia_project

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>web_vangia_project</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.vangia_id_project)

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_img1_project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_img1_project, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_img1_project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_img2_project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_img2_project, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_img2_project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_img3_project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_img3_project, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_img3_project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_img_project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_img_project, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_img_project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_content_project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_content_project, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_content_project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_name_project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_name_project, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_name_project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_time_project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_time_project, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_time_project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_status_project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_status_project, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_status_project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_order_project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_order_project, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_order_project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_language_project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_language_project, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_language_project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_tomtat_project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_tomtat_project, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_tomtat_project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_typeid_project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_typeid_project, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_typeid_project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_img4_project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_img4_project, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_img4_project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_img5_project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_img5_project, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_img5_project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_img6_project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_img6_project, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_img6_project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_img7_project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_img7_project, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_img7_project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_img8_project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_img8_project, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_img8_project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_img9_project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_img9_project, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_img9_project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_vanban_project, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_vanban_project, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_vanban_project, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
