@model AdminGold.Models.tbl_user_promotion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_user_promotion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name_user_promotion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_user_promotion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_user_promotion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_user_promotion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone_user_promotion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone_user_promotion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_name_user_promotion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name_user_promotion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name_user_promotion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name_user_promotion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type_role_user_promotion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type_role_user_promotion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status_user_promotion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status_user_promotion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_user_promotion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
