@model IEnumerable<AdminGold.Models.DMXE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SOXE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOAIXE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MATAIXE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOGHE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SOXE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOAIXE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATAIXE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOGHE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MAXE }) |
            @Html.ActionLink("Details", "Details", new { id=item.MAXE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MAXE })
        </td>
    </tr>
}

</table>
