@model AdminGold.Models.DMTUYEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DMTUYEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MATUYEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATUYEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENTUYENENG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENTUYENENG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENTUYENVN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENTUYENVN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATRAMDAU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATRAMDAU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATRAMGIUA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATRAMGIUA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATRAMCUOI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATRAMCUOI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TONGTRAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TONGTRAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MUCDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MUCDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THOIGIANTOANTRAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THOIGIANTOANTRAM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIAVE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIAVE1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIENGIAIVE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIENGIAIVE1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAMVE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAMVE1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDVE1IDHOADON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDVE1IDHOADON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIAVE2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIAVE2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIENGIAIVE2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIENGIAIVE2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAMVE2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAMVE2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDVE2IDHOADON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDVE2IDHOADON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIAVE3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIAVE3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIENGIAIVE3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIENGIAIVE3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAMVE3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAMVE3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDVE3IDHOADON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDVE3IDHOADON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIAVE4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIAVE4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIENGIAIVE4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIENGIAIVE4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAMVE4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAMVE4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDVE4IDHOADON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDVE4IDHOADON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIAVE5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIAVE5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIENGIAIVE5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIENGIAIVE5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAMVE5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAMVE5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDVE5IDHOADON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDVE5IDHOADON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIAVE6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIAVE6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIENGIAIVE6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIENGIAIVE6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAMVE6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAMVE6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDVE6IDHOADON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDVE6IDHOADON)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDTUYEN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
