@model IEnumerable<AdminGold.Models.DMTUYEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Danh sách tuyến</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.ActionLink("Thêm Tuyến", "Create", "DmTuyen", "", htmlAttributes: new { @class = "btn btn-primary" })
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Mã tuyến</th>
                                <th>Tên Tuyến En</th>
                                <th>Tên Tuyến Vi</th>
                                <th>Mã trạm đầu</th>
                                <th>Mã trạm giửa</th>
                                <th>Mã trạm cuối</th>
                                <th>Tổng trạm</th>
                                <th>Mức độ</th>
                                <th>Thời gian toàn trạm</th>
                                <th>Giá vé 1</th>
                                <th>Diễn giải vé 1</th>
                                <th>Cam 1</th>
                                <th>Id vé 1 /Id hóa đơn</th>
                                <th>Giá vé 2</th>
                                <th>Diễn giải vé 2</th>
                                <th>Cam 2</th>
                                <th>Id vé 2 /Id hóa đơn</th>
                                <th>Giá vé 3</th>
                                <th>Diễn giải vé 3</th>
                                <th>Cam 3</th>
                                <th>Id vé 3 /Id hóa đơn</th>
                                <th>Giá vé 4</th>
                                <th>Diễn giải vé 4</th>
                                <th>Cam 4</th>
                                <th>Id vé 4 /Id hóa đơn</th>
                                <th>Giá vé 5</th>
                                <th>Diễn giải vé 5</th>
                                <th>Cam 5</th>
                                <th>Id vé 5 /Id hóa đơn</th>
                                <th>Giá vé 6</th>
                                <th>Diễn giải vé 6</th>
                                <th>Cam 6</th>
                                <th>Id vé 6 /Id hóa đơn</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {


                                <tr class="odd gradeX">
                                    <td>
                                        <a href="@Url.Action("LoTrinh","Home",new {id= item.IDTUYEN})">@Html.DisplayFor(modelItem => item.MATUYEN)</a>   
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TENTUYENENG)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TENTUYENVN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MATRAMDAU)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MATRAMGIUA)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MATRAMCUOI)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TONGTRAM)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MUCDO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.THOIGIANTOANTRAM)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GIAVE1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DIENGIAIVE1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CAMVE1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IDVE1IDHOADON)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GIAVE2)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DIENGIAIVE2)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CAMVE2)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IDVE2IDHOADON)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GIAVE3)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DIENGIAIVE3)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CAMVE3)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IDVE3IDHOADON)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GIAVE4)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DIENGIAIVE4)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CAMVE4)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IDVE4IDHOADON)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GIAVE5)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DIENGIAIVE5)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CAMVE5)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IDVE5IDHOADON)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GIAVE6)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DIENGIAIVE6)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CAMVE6)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IDVE6IDHOADON)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "DmTuyen", new {id = item.IDTUYEN})" class="btn btn-default btn-xs">Sửa</a>
                                        <a href="@Url.Action("Delete", "DmTuyen", new {id = item.IDTUYEN})" onclick=" return confirm('Bạn có muốn xóa hóa đơn không?'); " class="btn btn-default btn-xs">Xóa</a>

                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>



