@using System.Configuration
@model IEnumerable<AdminGold.Models.DMHOADON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Danh sách hóa đơn</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.ActionLink("Thêm hóa đơn", "Create", "DmHoaDon", "", htmlAttributes: new { @class = "btn btn-primary" })
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Mã xe</th>
                                <th>Ký hiệu vé</th>
                                <th>Mẫu so</th>
                                <th>Tổng số vé phát hành</th>
                                <th>Số vé hiện tại</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {


                                <tr class="odd gradeX">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MAXE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.KYHIEUVE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MAUSO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TONGSOVEPHATHANH)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SOVEHIENTAI)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "DmHoaDon", new { id = item.IDHOADON })" class="btn btn-default btn-xs">Sửa</a>
                                        <a href="@Url.Action("Delete", "DmHoaDon", new { id = item.IDHOADON })" onclick="return confirm('Bạn có muốn xóa hóa đơn không?');" class="btn btn-default btn-xs">Xóa</a>

                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>







