@model IEnumerable<AdminGold.Models.VanGiaPicture>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AdminGoldEntities db = new AdminGoldEntities();

}
@using AdminGold.Models;

@using System.Configuration


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Danh sách sản phẩm</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.ActionLink("Thêm sản phẩm", "CreateFirst", "WebDoGo", "", htmlAttributes: new { @class = "btn btn-primary" })
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Hình</th>
                                <th>Tên</th>
                                <th>Danh mục SP</th>
                                <th>Trạng thái</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {


                                <tr class="odd gradeX">
                                    <td>

                                        @foreach (var itemIm in db.tblSysPictures.Where(x => x.advert_id == item.tblProject.vangia_id_project).Take(1).ToList())
                                        {

                                            <img width="50" src="@ConfigurationManager.AppSettings["domain"]@itemIm.originalFilepath.ToString().Split('_')[0]/@itemIm.originalFilepath" alt="@item.tblProject.vangia_name_project" />

                                        }

                                    </td>
                                    <td>

                                        @item.tblProject.vangia_name_project

                                    </td>

                                    <td>

                                        @item.tblCategory.Name

                                    </td>

                                    <td>

                                        @if (item.tblProject.vangia_status_project == 1)
                                        {
                                            @("Hoạt động")
                                        }
                                        @if (item.tblProject.vangia_status_project == 0)
                                        {
                                            @("Không hoạt động")
                                        }
                                    </td>

                                    <td>
                                        <a href="@Url.Action("Edit", "WebDoGo", new { id = item.tblProject.vangia_id_project })" class="btn btn-default btn-xs">Sửa</a>
                                        <a href="@Url.Action("Delete", "WebDoGo", new { id = item.tblProject.vangia_id_project })" onclick="return confirm('Bạn có muốn xóa sản phẩm không?');" class="btn btn-default btn-xs">Xóa</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
