@model IEnumerable<ApiManga.Models.tblAdvertManga>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
          Image
        </th>
        <th>
        Name
        </th>
       
       
        <th>
            Name Author
        </th>
        <th>
            Status
        </th>
        <th>
            Status Chapter
        </th>
        <th>
            Count Chapter
        </th>
        <th>
          Type
        </th>
       
        <th>
           Type Status
        </th>
        <th>
           All Type
        </th>
        <th>
        CountView
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img width="50" src="@item.ImgAdvertManga"/>
        
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameAdvertManga)
        </td>
        
       
        <td>
            @Html.DisplayFor(modelItem => item.NameAuthorAdvertManga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusAdvertManga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusChapAdvertManga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountChapAdvertManga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeAdvertManga)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.TypeStatusAdvertManga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlltypeAdvertManga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountView)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAdvertManga }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAdvertManga }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAdvertManga })
        </td>
    </tr>
}

</table>
