@model ApiManga.Models.tblTypeManga

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblTypeManga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameTypeManga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameTypeManga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusTypeManga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusTypeManga)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTypeManga }) |
    @Html.ActionLink("Back to List", "Index")
</p>
