@model AdminGold.Models.web_vangia_silde

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>web_vangia_silde</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.vangia_id_silde)

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_noidung_silde, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_noidung_silde, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_noidung_silde, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_tomtat_silde, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_tomtat_silde, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_tomtat_silde, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_img_silde, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_img_silde, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_img_silde, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_name_silde, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_name_silde, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_name_silde, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_status_silde, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_status_silde, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_status_silde, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_order_silde, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_order_silde, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_order_silde, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_language_silde, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_language_silde, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_language_silde, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_link_silde, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_link_silde, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_link_silde, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_stype_slide, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_stype_slide, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_stype_slide, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.vangia_type_slide, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vangia_type_slide, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vangia_type_slide, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
