@using System.Configuration
@model AdminGold.Models.DMTRAM
<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <label>Mã trạm</label>
            @Html.EditorFor(model => model.MATRAM, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MATRAM, "", htmlAttributes: new { @style = "color: blue;" })

        </div>
        <div class="form-group">
            <label>Tên Trạm</label>
            @Html.EditorFor(model => model.TENTRAM, new { htmlAttributes = new { @class = "form-control" } })

        </div>
       
    </div>

    <div class="col-lg-6">
        <div class="form-group">
            <label>Tọa độ đi</label>
            @Html.EditorFor(model => model.LatLng, new {htmlAttributes = new {@class = "form-control"}})

        </div>
        <div class="form-group">
            <label>Tọa độ về</label>
            @Html.EditorFor(model => model.LatLngVe, new { htmlAttributes = new { @class = "form-control" } })

        </div>
        <div class="form-group">
            <label>File rao trạm</label>
            @Html.EditorFor(model => model.FileTram, new { htmlAttributes = new { @class = "form-control" } })

        </div>
        @*<div class="form-group">
            <div class="form-horizontal cus-form-horizonta fromValidate">
                <label>File</label>
                <div class="uploadBox">
                    <input type="file"  value="upload" name="FileTram" class="form-control uploadFile" />
                   
                  
                    <div class="viewFile" style="padding-top: 5px">
                        @Html.EditorFor(model => model.FileTram, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

            </div>
            </div>*@
    </div>
</div>
@Html.HiddenFor(x => x.ID)


<script>
    $(document).on('change', '.uploadFile', function () {
        var fName = $(this)[0].files[0].name;
        var f = $(this)[0].files[0];
        if ($(this)[0].files[0].type.match('image.*')) {
            var reader = new FileReader();

            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    // Render thumbnail.

                    view.html(['<img class="thumb" src="', e.target.result,
                        '" title="', escape(fName), '"/>'].join(''));

                };
            })(f);
            reader.readAsDataURL(f);
        } else {
            var span = document.createElement('span');
            view.html('<span>' + fName + '</span>');
        }

    });
</script>